<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.login.loginpro.login.mapper.UserLoginMapper">

    <resultMap id="BaseResultMap" type="com.login.loginpro.core.model.UserLogin">
            <id property="lid" column="lid" jdbcType="INTEGER"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        lid,email,
        phone,create_time,update_time
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from user_login
        where  lid = #{lid}
    </select>
    <select id="selectAll" resultType="com.login.loginpro.core.model.UserLogin">
        select
        <include refid="Base_Column_List" />
        from user_login
    </select>
    <select id="selectBy" resultType="com.login.loginpro.core.model.UserLogin">
        select
        <include refid="Base_Column_List" />
        from user_login
        <trim prefix="where" suffixOverrides="and">
                <if test="lid!= null">lid = #{lid} and</if>
                <if test="password!= null">password = #{password} and</if>
                <if test="email!= null">email = #{email} and</if>
                <if test="phone!= null">phone = #{phone} and</if>
                <if test="createTime!= null">create_time = #{createTime} and</if>
        </trim>
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from user_login
        where  lid = #{lid}
    </delete>
    <insert id="insertSelective" keyColumn="lid" keyProperty="lid" parameterType="com.login.loginpro.core.model.UserLogin" useGeneratedKeys="true">
        insert into user_login
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="lid != null">lid,</if>
                <if test="password != null">password,</if>
                <if test="email != null">email,</if>
                <if test="phone != null">phone,</if>
                <if test="createTime != null">create_time,</if>
                <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="lid != null">#{lid},</if>
                <if test="password != null">#{password},</if>
                <if test="email != null">#{email},</if>
                <if test="phone != null">#{phone},</if>
                <if test="createTime != null">#{createTime},</if>
                <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.login.loginpro.core.model.UserLogin">
        update user_login
        <set>
                <if test="password != null">
                    password = #{passwordR},
                </if>
                <if test="email != null">
                    email = #{email},
                </if>
                <if test="phone != null">
                    phone = #{phone},
                </if>
                <if test="createTime != null">
                    create_time = #{createTime},
                </if>
                <if test="updateTime != null">
                    update_time = #{updateTime},
                </if>
        </set>
        where   lid = #{lid}
    </update>
</mapper>
