<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>登录注册</title>
    <link rel="stylesheet" href="/login/css/style.css">
</head>
<body>

<div class="materialContainer">
    <!--登录-->
    <form th:action="@{/login}" method="post">
        <div class="box">
            <div class="title">登录</div>
            <div class="input">
                <label for="name">用户名</label>
                <input type="text" name="name" id="name">
                <span class="spin"></span>
            </div>
            <div class="input">
                <label for="password">密码</label>
                <input type="password" name="password" id="password">
                <span class="spin"></span>
            </div>
            <div class="input">
                <label for="captcha">验证码</label>
                <input type="text" name="captcha" id="captcha" width="50px">
                <span class="spin"></span>
            </div>
            <div class="input">
                <img th:src="@{/captcha}" alt="Captcha">
            </div>
            <div class="button login">
                <button>
                    <span>登录</span>
                    <i class="fa fa-check"></i>
                </button>
            </div>
            <a href="javascript:" class="pass-forgot">忘记密码？</a>
        </div>
    </form>
    <!--注册-->
    <form th:action="@{/register}" method="post">
        <div class="overbox">
            <div class="material-button alt-2">
                <span class="shape"></span>
            </div>
            <div class="title">注册</div>
            <div class="input">
                <label for="nickName">昵称</label>
                <input type="text" name="nickName" id="nickName" required>
                <span class="spin"></span>
            </div>
            <div class="input">
                <label for="userName">用户名</label>
                <input type="text" name="userName" id="userName" required>
                <span class="spin"></span>
            </div>
            <div class="input">
                <label for="Registration_password">密码</label>
                <input type="password" name="Registration_password" id="Registration_password" required>
                <span class="spin"></span>
            </div>
            <div class="input">
                <label for="re_Registration_password">确认密码</label>
                <input type="password" name="re_Registration_password" id="re_Registration_password" required>
                <span class="spin"></span>
            </div>
            <div class="button">
                <button>
                    <span>提交</span>
                </button>
                <br>
            </div>
        </div>
    </form>
</div>
<script src="/login/js/jquery.min.js"></script>
<script src="/login/js/index.js"></script>

</body>
</html>