<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.shopdemo.useroperation.mapper.IUserMapper">
    <!--动态条件 sql 查询用户-->
    <select id="selectUser" resultType="com.demo.shopdemo.core.model.UserEntity">
        select * from user
        <where>
            <if test="id!= null">
                id = #{id}
            </if>
            <if test="name!= null">
                and name = #{name}
            </if>
            <if test="username!= null">
                and username = #{username}
            </if>
            <if test="password!= null">
                and password = #{password}
            </if>
            <if test="email!= null">
                and email = #{email}
            </if>
            <if test="phone!= null">
                and phone = #{phone}
            </if>
            <if test="avatar!= null">
                and avatar = #{avatar}
            </if>
            <if test="usertype!= null">
                and usertype = #{usertype}
            </if>
            <if test="state!= null">
                and state = #{state}
            </if>
            <if test="updateDate!= null">
                and updateDate = #{updateDate}
            </if>
            <if test="createDate!= null">
                and createDate = #{createDate}
            </if>
        </where>
    </select>
</mapper>