<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.shop_demo.user_operation.mapper.IUserMapper">
    <sql id="selectNormal">
        id
        , name, username, email, phone, avatar, usertype, state, createDate, updateDate
    </sql>
    <!--添加用户信息-->
    <insert id="insert">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id!= null">
                id = #{id}
            </if>
            <if test="name!= null">
                name = #{name}
            </if>
            <if test="username!= null">
                username = #{username}
            </if>
            <if test="password!= null">
                password = #{password}
            </if>
            <if test="email!= null">
                email = #{email}
            </if>
            <if test="phone!= null">
                phone = #{phone}
            </if>
            <if test="avatar!= null">
                avatar = #{avatar}
            </if>
            <if test="usertype!= null">
                usertype = #{usertype}
            </if>
            <if test="state!= null">
                state = #{state}
            </if>
            <if test="createDate!= null">
                createDate = #{createDate}
            </if>
            <if test="updateDate!= null">
                updateDate = #{updateDate}
            </if>
        </trim>
        <trim prefix="values" suffix=")" suffixOverrides=",">
            <if test="id!= null">
                #{id}
            </if>
            <if test="name!= null">
                #{name}
            </if>
            <if test="username!= null">
                #{username}
            </if>
            <if test="password!= null">
                #{password}
            </if>
            <if test="email!= null">
                #{email}
            </if>
            <if test="phone!= null">
                #{phone}
            </if>
            <if test="avatar!= null">
                #{avatar}
            </if>
            <if test="usertype!= null">
                #{usertype}
            </if>
            <if test="state!= null">
                #{state}
            </if>
            <if test="createDate!= null">
                #{createDate}
            </if>
            <if test="updateDate!= null">
                #{updateDate}
            </if>
        </trim>
    </insert>
    <!--修改用户信息-->
    <update id="update">
        update user
        <set>
            <trim prefix="set" suffixOverrides=",">
                <if test="id!= null">
                    id = #{id}
                </if>
                <if test="name!= null">
                    name = #{name}
                </if>
                <if test="username!= null">
                    username = #{username}
                </if>
                <if test="password!= null">
                    password = #{password}
                </if>
                <if test="email!= null">
                    email = #{email}
                </if>
                <if test="phone!= null">
                    phone = #{phone}
                </if>
                <if test="avatar!= null">
                    avatar = #{avatar}
                </if>
                <if test="usertype!= null">
                    usertype = #{usertype}
                </if>
                <if test="state!= null">
                    state = #{state}
                </if>
                <if test="updateDate!= null">
                    updateDate = #{updateDate}
                </if>
            </trim>
        </set>
        <where>
            <trim prefix="where" suffixOverrides="and">
                <if test="id!= null">
                    id = #{id}
                </if>
                <if test="name!= null">
                    name = #{name}
                </if>
                <if test="username!= null">
                    username = #{username}
                </if>
                <if test="email!= null">
                    email = #{email}
                </if>
                <if test="phone!= null">
                    phone = #{phone}
                </if>
                <if test="usertype!= null">
                    usertype = #{usertype}
                </if>
                <if test="state!= null">
                    state = #{state}
                </if>
                <if test="updateDate!= null">
                    updateDate = #{updateDate}
                </if>
                <if test="createDate!= null">
                    createDate = #{createDate}
                </if>
            </trim>
        </where>
    </update>
    <!--删除-->
    <delete id="deleteUser">
        delete from user
        <where>
            <trim prefix="where" suffixOverrides="and">
                <if test="id!= null">
                    id = #{id}
                </if>
                <if test="name!= null">
                    and name = #{name}
                </if>
                <if test="username!= null">
                    and username = #{username}
                </if>
                <if test="email!= null">
                    and email = #{email}
                </if>
                <if test="phone!= null">
                    and phone = #{phone}
                </if>
                <if test="usertype!= null">
                    and usertype = #{usertype}
                </if>
                <if test="state!= null">
                    and state = #{state}
                </if>
                <if test="updateDate!= null">
                    and updateDate = #{updateDate}
                </if>
                <if test="createDate!= null">
                    and createDate = #{createDate}
                </if>
            </trim>
        </where>
    </delete>
    <!--动态条件 sql 查询用户-->
    <select id="selectUser" resultType="com.demo.shop_demo.core.model.UserEntity">
        select
        <!--        <include refid="selectNormal"></include>-->
        *
        from user
        <trim prefix="where" prefixOverrides="and">
            <if test="id!= null">
                and id = #{id}
            </if>
            <if test="name!= null">
                and name = #{name}
            </if>
            <if test="username!= null">
                and username = #{username}
            </if>
            <if test="password!= null">
                and password = #{password}
            </if>
            <if test="email!= null">
                and email = #{email}
            </if>
            <if test="phone!= null">
                and phone = #{phone}
            </if>
            <if test="usertype!= null">
                and usertype = #{usertype}
            </if>
            <if test="state!= null">
                and state = #{state}
            </if>
            <if test="updateDate!= null">
                and  updateDate = #{updateDate}
            </if>
            <if test="createDate!= null">
                and createDate = #{createDate}
            </if>
        </trim>
    </select>
</mapper>