<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Demo</title>
    <!-- 请勿在项目正式环境中引用该 layui.css 地址 -->
    <link th:href="@{/base/css/layui.css}" rel="stylesheet">
</head>
<body>
<form class="layui-form" th:action="@{/userOperate/userModify}" method="post">
    <input type="hidden" name="id" th:value="${user.id}" lay-filter="form-demo-submit">
    <div class="layui-form-item">
        <label class="layui-form-label">用户名</label>
        <div class="layui-input-inline layui-input-wrap">
            <input th:if="${user.username != null}" type="text" name="username" lay-verify="required" placeholder="请输入" disabled autocomplete="off" class="layui-input layui-disabled" th:value="${user.username}">
            <input th:if="${user.username == null}" type="text" name="username" lay-verify="required|username" placeholder="请输入" autocomplete="off" class="layui-input" th:value="${user.username}">
        </div>
        <div class="layui-form-mid layui-text-em">6 到 12 位字符</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-inline layui-input-wrap">
            <input type="password" name="password" lay-verify="required|pass" placeholder="请输入" autocomplete="off" lay-affix="eye" class="layui-input">
        </div>
        <div class="layui-form-mid layui-text-em">6 到 12 位字符</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">确认密码</label>
        <div class="layui-input-inline layui-input-wrap">
            <input type="password" name="repassword" lay-verify="required|pass" placeholder="请输入" autocomplete="off" lay-affix="eye" class="layui-input">
        </div>
        <div class="layui-form-mid layui-text-em">6 到 12 位字符</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">用户类型</label>
        <div class="layui-input-block">
            <select name="interest" lay-filter="aihao">
                <option value=""></option>
                <option value="0" >普通用户</option>
                <option value="1">管理员</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="submit" class="layui-btn" lay-submit lay-filter="demo1">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>


<script th:src="@{/base/js/layui.js}"></script>
<script>
    layui.use(['form', 'laydate', 'util'], function(){
        var form = layui.form;
        var layer = layui.layer;
        var laydate = layui.laydate;
        var util = layui.util;

        // 自定义验证规则
        form.verify({
            pass: function(value) {
                if (!/(.+){6,12}$/.test(value)) {
                    return '密码必须 6 到 12 位';
                }
            }
        });


        // 提交事件
        form.on('submit(demo1)', function(data){
            var field = data.field; // 获取表单全部字段值
            // 通过 js 提交表单
            form.submit('form-demo-submit', function(data){
                // 执行提交
                layer.confirm('确定提交吗？', function(index){
                    layer.close(index); // 关闭确认提示框
                    // js 提交表单
                    // 此处可执行 Ajax 等操作 fetch(url,config).then()
                    fetch("/userOperate/userModify", {
                        method: "post",
                        headers: {
                            "Content-Type": "application/x-www-form-urlencoded"
                        },
                        // URLSearchParams 对象用于将查询字符串添加到URL中
                        // JSON.stringify(field) 也可以 将对象转换为 json字符串, Content-Type: application/json 后端 @RequestBody 接收
                        body: new URLSearchParams(field)
                    }).then(function (response) {
                        // 将响应结果转换为 json 对象
                        return response.json();
                    }).then(function (data) {
                        // data 通过 上一步 response.json() 转换为 json 对象
                        if (data.code == 200) {
                            layer.msg("操作成功", {icon: 1, time: 3000}, function () {
                                // // 关闭当前页面
                                var index = parent.layer.getFrameIndex(window.name);
                                parent.layer.close(index);
                                // parent.layer.closeAll(); // 关闭所有弹出层
                                // // 刷新父页面
                                // parent.location.reload();

                                // 调用父页面的函数
                                parent.reloadTable();
                            });
                        } else {
                            layer.msg(data.msg, {icon: 2, time: 3000});
                        }
                    }).catch(function (error) {
                        console.log(error);
                        layer.msg('服务器错误', {icon: 2, time: 3000});
                    });
                });
            });
            return false;

    });
</script>

</body>
</html>